


.splash{
    background-image:url(assets/babysnakes_white_centered.png);
    background-size:auto 100%;

    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    background-color: black;
    background-repeat: no-repeat;

    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    background-position: 30% 50%;
    
}

svg#Layer_1 {
    left: 72vw;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    height: 75%;



}


body{
    background-color:black !important;
}

.hero.hero{
    
    
    position: absolute;
    /* box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4); */
    margin-top: 17.5vh;
    margin-bottom: 17.5vh;
    /* height: 66vh; */
    background-color: black;
    color: white;
    padding: 30px;

}

.headline-logo{
    display:none;
    width:100%;
    filter:invert(100%);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;


}
.little-logo{
    top: 0px;
    position: absolute;
    right: 0px;
    height: 70px;
    filter: invert(100%);
    margin: 24px;
    margin-top: 120px;
}


.headline{
    text-align:center;
    /* display:none; */
}
.biline{
    font-style:italic;
    text-align: center;
}
.logo-container{
    margin-top:100px;
    display:flex;
    flex-direction:row;
}
.logo{
    width:100px;
filter:invert(100);
} 

.artist{
    margin:10px;
}

.mobile-spacer{
    height:60vh;
    position:relative;
    
}

.artist img{
    width:100%;
}

.artist-list{
    display:flex;
    flex-direction: row;
}
.desc{
    max-width:50%;
    position:relative;
}

a:link{
 
}
h3{
    text-transform: uppercase;
}