<nav class="navbar navbar-expand-lg fixed-bottom {% if page.inverted %} navbar-dark bg-dark {% endif %}">
        <a class="navbar-brand" href="/">FAB</a>
     
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#myNavigation" aria-controls="myNavigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
      
    
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li> <a  class="bd-text" href="/babydictators">Baby Dictators Project</a></li>
            <li> <a  class="bd-text" href="/people">People</a></li>
            <li> <a  class="bd-text" href="http://store.fab.beer">Store</a></li>
            <li> <a  class="bd-text" href="/contact">Contact</a></li>
            <li> <a  class="bd-text" href="/mailinglist">Mailing List</a></li>
    
          </ul>
          
        </div>
      </nav>