@media (max-width: 767px) {
    /* CSS goes here */
    .balloons{
        position:absolute;
        top:0px;
        left:0px; 

    }
}
@media (min-width: 768px) {
    /* CSS goes here */
    .balloons{
        position:fixed;
        top:100%;
        left:0px; 
    }
}

.audience{
    bottom:0px;
    width:150px;
    margin-top:-42px;
    img{width:100%}

}

body.page-babydictators{

background-color:skyblue;
    .splash{
    background-image:url(/assets/img/babysnakes_white_centered.png);
    background-color: white;
    color:black;
    background-size:cover;

    }

  


    .balloon-head{
        //position:absolute;
        width:96px;
        transition-timing-function: linear;

    }
    .particle{
        background-color:black;
        width:2px;
        height:2px;
        position:absolute;
        transition-timing-function: linear;

    }

 
    h3{
        padding-top:20px;
    }


    background-color:skyblue;
canvas {
    display: block;
    height: 100%;
    margin: 0 auto;
    
}

.canvas {
    position: fixed;
    pointer-events:none;
}

.clouds {
    background: no-repeat url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59639/clouds.png') 0 100%;
    background-size: 100vw 75vw;
    height: 50vw;
    width: 100vw;
}

.clouds:before,
.clouds:after {
    animation: cloud 3s ease-in-out 0s infinite alternate;
    background: inherit;
    content: '';
    display: block;
    position: absolute;
}

.clouds:before {
    background-position: 0 0;
    height: 22.2vw;
    left: 9vw;
    top: 17vw;
    width: 35.5vw;
}

.clouds:after {
    animation-duration: 4s;
    background-position: -50vw 0;
    height: 24.6vw;
    right: 12vw;
    top: 16vw;
    width: 29.4vw;
}

.top-clouds {
    bottom: 100%;
    left: 0;
    margin-bottom: -100px;
    position: absolute;
}

.bottom-clouds {
    left: 0;
    margin-top: -180px;
    position: absolute;
    top: 100%;
}

@keyframes cloud {
    0% {
        transform: translateX(-7%);
    }
    100% {
        transform: translateX(3%);
    }
}
}