body.page-category-can{

    padding-bottom:200px;

.head-graphic{
    position: fixed;
    opacity: .25;
    /* left: 0px; */
    top: -20vh;
    height: 140vh;
    width: auto;
    margin-left: auto;
    z-index: -1;
}

}


