body.page-conservation{
    background-color:green;

    color:white;

    h1{
        color:inherit;
        letter-spacing: normal;
    }

    a{
        padding:4px;
        text-decoration:underline;
        background-color:white;
    }
}