body.page-home{
    .splash{
        // background-image:url(/assets/canart/cans_sqp_art.png);
    }
    
    
    
    .can-gallery{
        width:100vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        
        padding-top:40px;
        padding-bottom:120px;
        .can {
            width:250px;
        }
        
    }
    .additional-images{
        transition-duration: .3s;
    }
    



.can{
    
    position:relative;
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.35);
    margin: 40px;
    img.main{
        width:100%;
    }
    
    &:not(:first-child) .additional-images{
        left: 100%;
        top: 0%;
        margin-left:30px;
        position: absolute;
        display: flex;
        flex-direction: column;
        
        img{
            
            align-self:flex-start;
        }
    }
    &:first-child .additional-images{
        top:100%;
        height: 100px;
        left: -160px;
        margin-top:12px;
        position:absolute;
        display: flex;
        flex-direction: row;
        width: 270px;
        flex-basis: auto;
        flex-wrap: nowrap;
        align-items: flex-end;
        img{
            align-self:flex-end;
        }
    }
    
    .additional-images{
        img{
            flex-grow: 1;
            flex-shrink: 1;
            margin-right:10px;
            margin-bottom:10px;
            width:100px;
        }
    }
}

    
h1{
    font-weight: bold !important;
    letter-spacing: -.1em;
    font-size: 5em !important;
    color: lightgray;
    >*{margin-right:.25em;}
    
}


.can-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

section#cans{
    margin-bottom:0px;
}
.toc-container{
    margin-top:15px;
    text-align:center;
    .toc{
        margin-left:auto;
        padding-bottom: 25px;
        text-align:left;
        text-transform:uppercase;
        letter-spacing:.75em;
        
        >*>*{
            margin:10px;
            margin-left:30px;
        }
        
        
    }
    
    
    .footer{
        text-align:center;
        padding-top:50px;
        padding-bottom:50px;
        background-color:#FBFBFB;
        
        
    }

    .sections-container{
        margin-top:20px;
        section{
            margin-bottom:50px;
        }
    }
    
    .black{
        color:black;
    }
    .lightgray{
        color:lightgray;
    }
}

}