body.style-main{
    .artist-flex-list{
        display:flex;
        flex-wrap:wrap;
    }



    .wip-flex-list{
        
        display:flex;
        flex-wrap:wrap;
        .item{
            height:200px;
        img{
            height:100%;
        }
    }
    }
    .beer-gallery{
        margin-bottom:50px;
    }

    margin-top-50{
        margin-top:50px;
    }
    h3{
        font-weight:bold;
        letter-spacing:0em;
        font-size:1.25rem;
    }

    .chapter{
        margin-top:75px;
    }
    .can-section{
        margin-top:75px;
    }
    h4{
        font-size:1rem;
    }

    .background-image{

        position:absolute;
        z-index:-1;
    }
    .fermentation-arts{
        opacity: .25;
        width: 50px;
        /* right: 0px; */
        /* bottom: 20vh; */
        bottom: -4em;
        left: 1em;
        transform: rotate(0deg);
    
    
    
    }

    #cans{
        h1{
            margin-top:20px;
        }
    }

    .can-image.can-image.can-image{
        transform:translate(0px, 0px)
    }
    .flyaway{
        cursor:pointer;
        transition: margin-top .76s ease-in 0s, margin-right .5s ease-in .3s  , opacity .5s .5s ;
    }
    .noclick{
        pointer-events:none;
    }

    .baby-trump::after{
        background-color: yellow;
        color: red;
        font-weight: bold;
        content: " - Remember this";
      }

      .technique-header{
        padding: 10px;
        margin-top:10px;
        text-transform:uppercase;
        background: white;
        color: black;
        margin-bottom:0px;
        display:block;
        cursor:pointer;
        padding:10px;
        font-style:normal;
        text-align: center;
        font-weight:bold;

        border: 1.5px solid black;
      }
      .technique-content{
          padding:20px;
          display:none;
        
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom:25px;
        visibility:hidden;
        height:0px;
        position:relative;
        background-color:black;
        color:white;
        position:relative;
        font-style:normal;
        .fancy{
            color:white;
            background-color:inherit;
        }
        &.on{
            visibility:visible;
            height:auto;
            display: block;
        }
    
      }
      .caption{

        position:absolute;
        font-size:.8em;
      }
      .caption-120{
          margin-top:120px;
      }

      .image-40{
          height:40px;
      }
      .image-80{
          height:80px;
      }
      .image-60{
        height:60px;
    }
      .image-200{
          height:200px;
      }
      .image-400{
        height:400px;
    }
    .image-300{
        height:300px;
    }
    .image-120{
        height:120px;
    }
    .image-huge.image-huge{
        width:20vw;
        transform: translate(0%, -50%);
    }
    .image-medusa-ruler{
        height: 365px;
        transform: translate(0px, 0px);
        margin-right: 20px;
        position: absolute;
        right: 100%;
    }
    .inline-image{

        display:inline-block;
        position:relative;
    }

    .left-image-container{
        position:absolute;
        right:100%;    

        &.anchor-bottom{
            transform: translate(0%, -100%);
        }
    }



    .right-image{
        position:absolute;
        left:100%;
    }

.image{

    max-height:100%;

}
    .splash{
        // background-image:url(/assets/canart/cans_sqp_art.png);
    }
    
    
    .fab{
        
        &:hover{
            letter-spacing:0em;
        }
        color:black !important;
    }
    


    
    h1{
        font-weight: bold !important;
        letter-spacing: -.08em;
        font-size: 5em !important;
        color: lightgray;
        margin-top:100px;
        >*{margin-right:.25em;}
        
    }
    
    
    
    
    section#cans{
        margin-bottom:0px;
    }
    .toc-container{
        margin-top:15px;
        text-align:center;
        .toc{
            margin-left:auto;
            padding-bottom: 25px;
            text-align:left;
            text-transform:uppercase;
            letter-spacing:.75em;
            
            >*>*{

                margin-left:30px;
            }
            
            
        }
        
        
        .footer{
            text-align:center;
            padding-top:50px;
            padding-bottom:50px;
            background-color:#FBFBFB;
            
            
        }
        
        .sections-container{
            margin-top:20px;
            section{
                margin-bottom:50px;
            }
        }
        
        .black{
            color:black;
        }
        .lightgray{
            color:lightgray;
        }
    }
 
    
    .story-inline-gallery{

        height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
        font-size:75%;
        justify-content: center;

        >*{
            height:100%;

        }

        h3{
            margin-top:10px;
        }
        
        >.medusa-t-button{
            padding:15px;
            margin-left:0px;
            margin-right:0px;
            font-size:inherit;
        }
        .medusa-t-description{
            max-width:9em;
        }
        
    }
    img.thumbnail.t-shirt{
        width: 9em;
        display: block;
    }

    section.description{
        //margin-top:10px;
        display:none;


    }
    .statement{
        blockquote{
            padding-top:0px;
            margin-top:0px;
        }
        h6{
            display:none;
        }
        *{
        background-color:white;
        }
    }
    .image-left{
        position:absolute;
        right:100%;
        
    }

}
