body.style-main{
    .artist-flex-list{
        display:flex;
        flex-wrap:wrap;
        // >*{
        //     width:50%;
        // }
    }

    .wip-flex-list{
        
        display:flex;
        flex-wrap:wrap;
        .item{
            height:200px;
        img{
            height:100%;
        }
    }
    }
    .item{
        height:200px;
        .graphic{
            height:100%;
            
        }
    }

    .inline-image-next + *{
        width:250px;
        display:block;
        position:relative;
    }
    .left-image-next + *{
        position:absolute;
        right:100%;
        width:200px;
    }
    .image-next + * img{
        max-width:100%;
    }
    .splash{
        // background-image:url(/assets/canart/cans_sqp_art.png);
    }
    
    
    .fab{
        
        &:hover{
            letter-spacing:0em;
        }
        color:black !important;
    }
    


    
    h1{
        font-weight: bold !important;
        letter-spacing: -.1em;
        font-size: 5em !important;
        color: lightgray;
        >*{margin-right:.25em;}
        
    }
    
    
    
    
    section#cans{
        margin-bottom:0px;
    }
    .toc-container{
        margin-top:15px;
        text-align:center;
        .toc{
            margin-left:auto;
            padding-bottom: 25px;
            text-align:left;
            text-transform:uppercase;
            letter-spacing:.75em;
            
            >*>*{
                margin:10px;
                margin-left:30px;
            }
            
            
        }
        
        
        .footer{
            text-align:center;
            padding-top:50px;
            padding-bottom:50px;
            background-color:#FBFBFB;
            
            
        }
        
        .sections-container{
            margin-top:20px;
            section{
                margin-bottom:50px;
            }
        }
        
        .black{
            color:black;
        }
        .lightgray{
            color:lightgray;
        }
    }
    
}