body.page-p4p{
    .splash{
        height:100vh;
        display:flex;
        align-items: center;
        justify-content:center;
    }
    h1{
        color:black;
    }
    .peace{
        background-color:lightblue;
    }
    .coming-soon{
        text-align:center;
        background:lightyellow;
    }
    .center{
        text-align:center;
    }
}