body.page-can-p4p,body.page-can-tremendous{
    .splash{
        height:100vh;
        display:flex;
        align-items: center;
        justify-content:center;
    }
    h1{
        color:black;
        margin-top:20px;
    }
    .peace{
        background-color:lightblue;
    }
    .coming-soon{
        text-align:center;
        background:yellow;
    }
    .coming-soon-container{
        img{
            width:64px;
        }
    }
    .center{
        text-align:center;
    }
}