body.page-people{
    h1{
        margin-top:50px;
    }
    .type-list{
        // display:flex;
        // flex-direction:row;
        // flex-wrap:wrap;
        .person{
            
            // margin:10px;
            // margin-top:50px;
            
            img{
                width:100%;
                
            }
        }
    }
    .footer{
        height:300px;
    
    }

    padding-bottom:300px;
}