
$sqp-bg-color:#28cded;
$sqp-fg-color:#d455c8;
$bf-bg-color:#ffea01;
$bf-fg-color:#cd6800;


blockquote{
    background-color:#EFEFEF;
    padding-left:2em;
    padding-bottom:1em;
    padding-top:1em;
    padding-right:1em;
}

.fancy{
    font-weight:bold;
    font-style:normal;
    padding:3px;
    padding-left:7px;
    padding-right:7px;

    a:link{
        color:inherit;
        text-decoration:underline;
    }
    a:visited{
        color:inherit;
    }
}

.bf-text{
    color:$bf-fg-color;
    background-color:$bf-bg-color;

}
.sqp-text{
    color:$sqp-fg-color;
    background-color:$sqp-bg-color;
}

.bd-text.bd-text{
    color:white;
    font-weight:bold;
    background-color:black;
    a{
        color:white;
        font-weight:bold;
            
    }
    a:link{
        color:white;
        font-weight:bold;
    }
    a:visited{
        color:white;
        font-weight:bold;
    }


}

.artist-img{
    width:300px;
}
    .can-list{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    
    .can-gallery{
        width:100vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        
        padding-top:20px;
        padding-bottom:120px;
        .can {
            width:250px;
        }
        
    }
    .additional-images{
        transition-duration: .3s;
    }
    
    
    
    
    .can{
        
        position:relative;
        box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.35);
        margin: 40px;
        img.main{
            width:100%;
        }
        
        &:not(:first-child) .additional-images{
            left: 100%;
            top: 0%;
            margin-left:30px;
            position: absolute;
            display: flex;
            flex-direction: column;
            
            img{
                
                align-self:flex-start;
            }
        }
        &:first-child .additional-images{
            top:100%;
            height: 100px;
            left: -160px;
            margin-top:12px;
            position:absolute;
            display: flex;
            flex-direction: row;
            width: 270px;
            flex-basis: auto;
            flex-wrap: nowrap;
            align-items: flex-end;
            img{
                align-self:flex-end;
            }
        }
        
        .additional-images{
            img{
                flex-grow: 1;
                flex-shrink: 1;
                margin-right:10px;
                margin-bottom:10px;
                width:100px;
            }
        }
    }
    

body.inverted{
    background-color:black !important;
}
.splash{
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    background-repeat: no-repeat;
    margin-left:auto;
    margin-right:auto;
    background-position: 30% 50%;
    
    z-index:-1;
}

svg#Layer_1 {
    left: 72vw;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    height: 75%;
}



.hero.hero{
    position: absolute;
    /* box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4); */
    margin-top: 17.5vh;
    margin-bottom: 17.5vh;
    /* height: 66vh; */
    background-color: black;
    color: white;
    padding: 30px;
    z-index:2000;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}





.headline-logo{
    display:none;
    width:100%;
    filter:invert(100%);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;


}
.little-logo{
    top: 0px;
    position: absolute;
    right: 0px;
    height: 70px;
    filter: invert(100%);
    margin: 24px;
    margin-top: 120px;
}


.headline{
    text-align:center;
    /* display:none; */
}
.biline{
    font-style:italic;
    text-align: center;
}
.logo-container{
    margin-top:100px;
    display:flex;
    flex-direction:row;
}
.logo{
    width:100px;
filter:invert(100);
} 

.artist{
    margin:10px;
}

.mobile-spacer{
    height:50vh;
    position:relative;
    
}



.artist img{
    width:100%;
}

.artist-list{
    display:flex;
    flex-direction: row;
}
.desc{
    max-width:50%;
    position:relative;
}

a:link{
 
}
h3{
    text-transform: uppercase;

}


.navbar li>a{
    padding: 8px;
}
.navbar li:not(:first-child){
    a{padding-left:30px;}
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-brand.navbar-brand.navbar-brand{
    font-weight:bold;
    height: 100%;
    width: 200px;
    font-size: 200%;
    letter-spacing: -.12em;
    height: 100%;
    text-align:right;
    padding-right:20px;
}
// NAVBAR
.navbar-nav li{
    text-align:center;
}


body:not(.inverted){
    
    .navbar-brand.navbar-brand.navbar-brand:hover{
        color:white;
    }
    .navbar-brand.navbar-brand.navbar-brand{
        color:white;
        background-color:black;
    }
    .navbar{
        background-color:white;
    }
}
body.inverted{
    .navbar-brand.navbar-brand.navbar-brand:hover{
        color:black;
    }
    .navbar-brand.navbar-brand.navbar-brand{
        color:black;
        background-color:white;
    }
}

body.inverted{
    .navbar.navbar.navbar{
        background-color:rgba(255, 255, 255, .5) !important;
        .nav-link{

    color:black;
        }
    }
}

body{

        .nav-link{

    font-weight: bold;
    letter-spacing: -.05em;
    text-transform: uppercase;
    font-size: 1.15em;
        }
    
}

.navbar.navbar.navbar{
    padding:0px;
}

.oneline{
    white-space: nowrap;
}
.headline.baby-dictators{
    
}


.alert-banner{

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    /* height: 25px; */
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

footer{
    height:100px;
}

.cans-banner{
    top: 50px;
    position: relative;
}

.slick-slide{
    img{
        //height:200px;
    }
}
.slick-gallery{
    .slick-list{

    }
    img{
        height:150px;
        display: block;
        margin: 15px;
        // box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }
}
.slick-prev:before, 
.slick-next:before {
    color: black;    
}

img.icon{
}
img.thumbnail.t-shirt{
    width: 128px;
    display: block;
}