

.shopify-buy-container{
    background-color:black;
    &.medusa-t{
        position:absolute;
        right:100%;
        margin-right:20px;
    }
}

.shopify.modal-body{
    background-color:white;
    padding:30px;
    border-radius:50;
    border: 5px solid black;
    margin:200px;
}
