

.shopify-buy-container{
    background-color:black;
    &.medusa-t{
        position:absolute;
        right:100%;
        margin-right:20px;
    }
}


.medusa-t-button.medusa-t-button{

    background-color: white;
    border-color: black;
    // border: 2px solid black;
    border:none;
    color: black;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;


    
}