
<!DOCTYPE html>
<html>
<head>{% include head.html %}</head>

<body class="page-{{page.id}} {% if page.style %}style-{{page.style}}{% endif %} {% if page.inverted %} inverted {% endif %}">
  {% include nav.html %}
  <div class="can-gallery d-md-flex d-none">
      <div class="can-list">
          {% for can in site.cans %}
          {% if can.code == page.code %}
          <div class="can">
              <a href= "/babydictators"> <img  class="main" src="/assets/canart/cans_{{ can.code }}_art.png" /></a>
              <div class="additional-images">
                  <img src="/assets/canart/cans_{{ can.code }}_tall_can.png"/>
                  <img src="/assets/canart/cans_{{ can.code }}_wide_can.png"/>
              </div>
          </div>
          {% endif %}
          {% endfor %}    
  
      </div>
  </div>
  
  <div class="col-md-6 offset-md-3">
    {{ statement }}
  </div>
  <div class="col-md-10 offset-md-1">
  <div class="wip-flex-list slick-gallery">
      {% for image in site.static_files %}
          {% if image.path contains page.code %}
          {% if image.path contains 'wip' %}
              <div class="item">
                  <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </div>
          {% endif %}
          {% endif %}
      {% endfor %}
  
      </div>
  </div>
</body>
</html>