
<!DOCTYPE html>
<html>
<head>{% include head.html %}</head>

<body class="page-{{page.id}} page-category-can {% if page.style %}style-{{page.style}}{% endif %} {% if page.inverted %} inverted {% endif %}">
    
    
    {% include nav.html %}
    
    
    <div class="col-lg-8 offset-lg-2">
        {% assign can=page %}
        {% include can_info_template.html %}
        
        <section class="wip-images">
            {% assign image_groups = site.static_files | group_by_exp: "item", 'item.path| match_regex: "/wip/(.*)/"' %}
            <div class="wip-flex-list slick-gallery">
                {% for group in image_groups %}
                {% if group.name==page.code %}
                {% for image in group.items limit: 10 %}
                <div class="item">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class='store'>
            <div id='collection-component-1575574611446'></div>
            {% assign shopify_collection_id=page.collection_id %}
            {% include storeview.js %}
        </section>
    </div>
</body>
</html>