
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
</head>

<body class="page-{{page.id}} {% if page.inverted %} inverted {% endif %}">
  {% if page.navbar %}
  <nav class="navbar navbar-expand-lg fixed-bottom {% if page.inverted %} navbar-dark bg-dark {% endif %}">
    <a class="navbar-brand" href="/">FAB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li> <a  class="nav-link" href="/babydictators">Baby Dictators Project</a></li>
      </ul>
    </div>
  </nav>
  {% endif page.navbar %}
  {{ content }}
  

</body>
</html>