
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    {% if page.id == "home" %}
    <link rel="stylesheet" href="home.css">
    {% endif %}

    {% if page.id == "babydictators" %}
    <link rel="stylesheet" href="babydictators.css">
    {% endif %}
</head>



		<body>

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">Fermentation Arts Brasserie</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                          <ul class="navbar-nav">
                                <li><a href="/">HOME</a></li>
                                <li> <a href="/babydictators">BABY DICTATORS</a></li>
                                 <li><a href="/store">STORE</a></li>
                          </ul>
                        </div>
                      </nav>



			{{ content }}
			
			
			<footer>

    <a href="mailto:hi@fab.beer">EMAIL US</a>
			</footer>
		</body>
	</html>